import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.eu-central-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4TQcB5BpE3ADNsN.root",
  password = "NG8gFRIsGag8xXRv",
  database = "test",
  ssl_ca = "/etc/ssl/cert.pem",
  ssl_verify_cert = True,
  ssl_verify_identity = True
)